PORT=5000
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.example.mongodb.net/campusos?retryWrites=true&w=majority
JWT_SECRET=your_jwt_super_secret_key_change_in_production_123456789
JWT_EXPIRES_IN=7d
CLIENT_URL=http://localhost:3000
NODE_ENV=development
